html {
    font-family: consolas;
  }
  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(122, 19, 130, 0), rgba(242, 255, 2, 0.796));
  }
  .form input[type="number"] {
    width: 200px;
  }
  .lastResult {
    color: rgb(255, 253, 253);
    padding: 3px;
}
