html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;

  }
  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 300px;
    padding-left: 200px;
    background-image: linear-gradient(to right, rgba(122, 19, 130, 0), rgba(242, 255, 2, 0.796));
  }
  .content {
    max-width: 500px;
    margin: auto;
  }
  .form input[type="number"] {
    width: 200px;
  }
  .lastResult {
    color: rgb(255, 253, 253);
    padding: 3px;
}
